<div id="<%= dom_id denomination %>">
  <div>
    <strong>Value:</strong>
    <%= denomination.value %>
  </div>

  <div>
    <strong>Available count:</strong>
    <%= denomination.available_count %>
  </div>

</div>
