<p style="color: green"><%= notice %></p>

<% content_for :title, "Denominations" %>

<h1>Denominations</h1>

<div id="denominations">
  <% @denominations.each do |denomination| %>
    <%= render denomination %>
    <p>
      <%= link_to "Show this denomination", denomination %>
    </p>
  <% end %>
</div>

<%= link_to "New denomination", new_denomination_path %>
